body {
  background-color: #26aa19;
}
h3 {
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}
div.main-container {
  
}

div.daylight-header {
  padding-top: 10px;
  background: url("./images/Daylight-Difference-Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 83px;
  background-position: bottom;
}

div.daylight-body {
  background-color: #26aa19;
}

div.about-screen {
  padding: 0px 20px;
  text-align: left;
}